<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Bill0-Free/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /Bill0-Free/index.html [L]
</IfModule>
