/*
  Author: Abdul Faheem A
  Copyrights: Gahranox Carvel Labs Technologies
  Purpose: Application-wide global style overrides and common utility classes.
  Usecase: Provides horizontal consistency across different feature modules and reset rules.
*/
/* You can add global styles to this file, and also import other style files */